<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/logouc.png" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>AulaVirtual</strong>UC
            </span>
        </div>
        
        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/Home']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/InicioSesion']">Inicio de sesión</a>
                </li>                           
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>