<div class="center">
    <section align="center">

        <h1 class="subheader">Inicio de sesión</h1>

        <form class="mid-form" >
            <div class="form-group">
                <label for="usuario">Ususario</label>
                <input type="text" name="usuario" />
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="text" name="contrasena" />
            </div>
            <div class="clearfix"></div>
            <br/>
            <input type="submit" value="Inicio" class="btn btn-success"/>

        </form>
    </section>
    <div class="clearfix"></div>
</div>