<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Ya estas inscrito a un curso?</h3>
        <a href="Iniciodeesion.html" class="btn btn-success">Iniciar sesión</a>
    </div>
    <div id="nav-blog" class="sidebar-item">
        <h3>Deseas Validar o Realizar el pago?</h3>
        <a href="#" class="btn btn-success">Valida tu pago</a>
    </div>
    <div id="search" class="sidebar-item">
            <h3>BUSCADOR</h3>
            <p>Encuentra el curso que buscas</p>
            <form>
                <input type="text" name="search" />
                <input type="submit" name="submit" value="Buscar" class="btn" />
            </form>
    </div>
    <div id="nav-blog" class="sidebar-item">
        <strong>CONTÁCTENOS</strong>
        <div align="left" >
            <div>
                <img src="assets/images/location.png" class="tip ml0" width="17" height="17">
                <span>Sede Centro: carrera 5 n.º 21-38</span>
            </div>
            <div>
                <img src="assets/images/location.png" class="tip ml0" width="17" height="17">
                <span>Sede Norte: calle 75 n.º 16-03</span>
            </div>
            <strong>Contact Center </strong>
            <div>
                <img src="assets/images/phone.png" class="tip ml0" width="17" height="17">
                <span>326 6826 - 323 9868 - 326 6820</span>
            </div>
            <strong>Línea gratuita nacional </strong>
            <div>
                <img src="assets/images/phone.png" class="tip ml0" width="17" height="17">
                <span>01 8000 912 534</span>
            </div>
            <strong>Solicita información al WhatsApp:</strong>
            <div>
                <img src="assets/images/whatsapp.png" class="tip ml0" width="17" height="17">
                <span>+57 313
                    8060450</span>
            </div>
        </div>
    </div>
</aside>
<div class="clearfix"></div>