<app-header></app-header>
<div class="center">
    <section align="center">

        <h1 class="subheader">Preinscripcion a Curso</h1>

        <form class="mid-form" >
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" />
            </div>

            <div class="form-group">
                <label for="correo">correo</label>
                <input type="text" name="correo" />
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" />
            </div>
            <div class="clearfix"></div>
            <br/>
            <a href="confinscrpcion.html"><input type="submit" value="Preinscripcion" class="btn btn-success" /></a>

        </form>
    </section>
    <div class="clearfix"></div>
</div>

<app-footer></app-footer>