<app-header></app-header>
<div class="center">
    <div class="center">
        <section align="center">
    
            <h1 class="subheader">Valida Tu Pago</h1>
            <br>
            <br>
            <br>
            <h1 class="subheader">Sube la factura de tu pago </h1>
            <br>
            <br>
            <br>
            <input type="file" name="archivosubido">
            <br>
            <br>
            <br>
            <input type="submit" value="Enviar datos">
        </section>
        <div class="clearfix"></div>
    </div>
</div>
<app-footer></app-footer>