<app-slider></app-slider>
<section id="content">
    <h2 class="subheader">Oferta de Cursos </h2>
    <div id="articles">
        <article class="article-item" id="1">
            <div class="image-wrap">
                <img src="assets/images/Auditoria de Sistemas.jpg" alt="Auditoria" />
            </div>
            <h2>Auditoria informática</h2>
            <span class="date">
                Hace 4 dias
            </span>
            <a href="Curso1.html">Leer más</a>
            <div class="clearfix"></div>
        </article>
        <article class="article-item" id="2">
            <div class="image-wrap">
                <img src="assets/images/Diseño y desarrollo web.jpg" alt="DiseñoWeb" />
            </div>
            <h2>Diseño y desarrollo de sitios web</h2>
            <span class="date">
                Hace 8 dias
            </span>
            <a href="Curso2.html">Leer más</a>

            <div class="clearfix"></div>
        </article>
        <article class="article-item" id="3">
            <div class="image-wrap">
                <img src="assets/images/costos_presupuestos.jpg" alt="costos_presupuestos" />
            </div>

            <h2>Costos y presupuestos l</h2>
            <span class="date">
                Hace 12 dias
            </span>
            <a href="Curso2.html">Leer más</a>

            <div class="clearfix"></div>
        </article>
        <article class="article-item" id="1">
            <div class="image-wrap">
                <img src="assets/images/Auditoria de Sistemas.jpg" alt="Auditoria" />
            </div>
            <h2>Auditoria informática</h2>
            <span class="date">
                Hace 4 dias
            </span>
            <a href="Curso1.html">Leer más</a>
            <div class="clearfix"></div>
        </article>
        <article class="article-item" id="2">
            <div class="image-wrap">
                <img src="assets/images/Diseño y desarrollo web.jpg" alt="DiseñoWeb" />
            </div>
            <h2>Diseño y desarrollo de sitios web</h2>
            <span class="date">
                Hace 8 dias
            </span>
            <a href="Curso2.html">Leer más</a>

            <div class="clearfix"></div>
        </article>
        <article class="article-item" id="3">
            <div class="image-wrap">
                <img src="assets/images/costos_presupuestos.jpg" alt="costos_presupuestos" />
            </div>

            <h2>Costos y presupuestos l</h2>
            <span class="date">
                Hace 12 dias
            </span>
            <a href="Curso2.html">Leer más</a>

            <div class="clearfix"></div>
        </article>
    </div>
</section>
<app-sidebar></app-sidebar>
<app-footer></app-footer>