<app-header></app-header>
<div class="center">
    <div class="center">
        <div id="nav-blog" class="sidebar-item">
            <strong>Revisa los examenes Creados</strong>
            <a href="http://localhost:4200/quizadministrator" class="btn btn-success">Revisa tus examen</a>
        </div>
        <div id="nav-blog" class="sidebar-item">
            <strong>Crea tu propio examen</strong>
            <a href="http://localhost:4201/CrearExamen" class="btn btn-success">Crear Examen</a>
        </div>
        <section align="center">
            <h1 class="subheader">Estadisticas</h1>
            <br>
            <br>
            <br>
            <img src="assets/images/Admin.png" alt="Admin" />
        </section>
        <div class="clearfix"></div>
    </div>
</div>
<app-footer></app-footer>